.R_FIB{
 font-size:24px;
display:flex;
 }
.R_FIB1{
  margin:0;
  padding:2px;
}
 .Botones{
   height: 45px;
   margin: 45px 0;
 }
.Botones{
  height: 5%;
  width: 30%;
 outline: none;
 color: #000000;
 border-radius: none;
 font-size: 18px;
 font-weight: 500;
 border-radius: 5px;
 letter-spacing: 1px;
 background: #FFF05C;
}
.Botones:hover{
  color: #FFF05C;
  background: #000000;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor{
  max-width: 700px;
  width: 100%;
  background: #FFFFFF;
  padding: 25px 30px;
  border-radius: 8px;
}
.contenedor .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
}
.contenedor form .registrar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .registrar .imputt{
  margin-bottom: 15px;
  width: calc(100% / 2 -20px);
}
.registrar .imputt .labelinput{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.registrar .imputt input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #000000;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.registrar .imputt input:focus{
  border-color: #FFF05C;
}
@media (max-width: 584px){
  .contenedor{
    max-width: 100%;
  }
  form .registrar {
    margin-bottom: 15px;
    width: 100%;
  }
  .contenedor form .registrar{
    max-height: 300px;
    overflow: scroll;
  }
  .registrar::-webkit-scrollbar{
    width: 0;
  }
}
