*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form{
    position: relative;
    width: 20rem;
    height: 3rem;
    width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00FBEC;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: #ffffff;
    outline: none;
    padding: 1.25rem;
    background: none;
}
.form__input:hover{
    border-color: #F000FB;
}
.form__input:focus{
    border-color: #1EFB00;
}
.form__label{
    position: absolute;
    left: 1rem;
    top:0.8rem;
    padding: 0 0.5rem;
    color: #ffffff;
    cursor: text;
    transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
    background-color: #060b23;
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.2rem;
  font-size: 0.8rem;
  left: 0.8rem;
}
.Botones{
    height: 45px;
    margin: 45px 0;
  }
 .Botones{
   height: 5%;
   width: 30%;
  outline: none;
  color: #00FBEC;
  border-radius: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #000000;
 }
 .Botones:hover{
   color: #000000;
   background: #00FBEC;
 }
 .Botones1{
   outline: none;
   color: #00FBEC;
   border-radius: none;
   font-size: 18px;
   font-weight: 500;
   border-radius: 5px;
   letter-spacing: 1px;
   background: #000000;
  }
  .Botones1:hover{
    color: #000000;
    background: #00FBEC;
  }
  .baja{
	
	position: relative;
	display: none;
	}
  .alta_procesos{
	
    position: relative;
    display: none;
  }
  .procesos{
	
    position: relative;
    display: none;
  }
  .baja_procesos{
	
    position: relative;
    display: none;
  }
  .update_procesos{
	
    position: relative;
    display: none;
  }
  .posiciones{
	
    position: relative;
    display: none;
  }
  .alta_posiciones{
	
    position: relative;
    display: none;
  }
  .baja_posiciones{
	
    position: relative;
    display: none;
  }
  .update_posiciones{
	
    position: relative;
    display: none;
  }
  .alta_turnos{
	
    position: relative;
    display: none;
  }
.busqueda{
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  border: 2px solid #00FBEC;
  border-radius: 0.5rem;
  color: #ffffff;
  background: none;
}
.busqueda:hover{
  border-color: #F000FB;
}
.busqueda:focus{
  border-color: #1EFB00;
}
.ventana{
  background-color: #fffbfb;
  width: 90%;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 33px;
  min-height: 350px;
  border-radius: 22px;
  position: absolute;
  left: 5%;
  top: 15%;
  display: none;
  box-shadow: 0 10px 10px #0d0e2346;
  border: 3px solid #e0d206;
}
#cerrar{
  position: absolute;
  right: 9px;
  top:7px;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #00FBEC;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#000000;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select:hover{
  background: #000000;
  color:#00FBEC;
}
select:focus{
  background: #000000;
  color:#00FBEC;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}

.menu-h ul{
  list-style: none;
  padding: 0;
}
.menu-h li{
  align-items: center;
  line-height: 3rem;
  position: relative;
}
.menu-h li ul{
  position: absolute;

}
.menu-h a{
  text-decoration: none;
  display: block;
  padding: 0 2.5rem;
  color: #000000;
  transition: .4s;

}
.menu-h a:hover{
  background: #000000;
  color: #00FBEC;

}
.menu-h ul ul {
  display: none;
}
.menu-h > ul{
  background: #00FBEC;
  display: table;
  width: 100%;
}
.menu-h > ul >li{
  float: left;
}
